<h3>Главная</h3>

<h2><%= link_to 'Новая работа', new_showcase_path, :class => 'btn btn-primary btn-large' %></h2>

<hr>
<h4>Работы</h4>
<% @showcases.each do |showcase| %>
  <div class="one_work">
    <%=link_to image_tag(showcase.picture.url(:small)), showcase %>
    <h4><%=link_to showcase.name, showcase %></h4>
  </div>
<% end %>
