/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
*/

.one_work {
  padding: 10px;
  width: 200px;
  height: 240px;
  float: left;
  margin: 10px;
  background: #ddd;
  
  -moz-box-shadow: 3px 3px 3px #999;
  -webkit-box-shadow: 3px 3px 3px #999;
  box-shadow: 3px 3px 3px #999;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
}
